<div class="container splash-body">
 <h1 class="splash-title">My Wallet</h1>
  <div class="splash-buttons pb-5">
      <%= link_to 'LOGIN', new_user_session_path, class: "btn btn-primary btn-lg login px-5 text-light"%>
      <%= link_to 'SING UP', new_user_registration_path, class: "btn btn-lg"%>
  </div>
</div>