<div class="container splash-body">
 <h1 class="splash-title">Hello</h1>
  <div class="splash-buttons">
      <%= link_to 'LOGIN', new_user_session_path, class: "btn btn-primary btn-lg login"%>
      <%= link_to 'SING UP', new_user_registration_path, class: "btn btn-lg"%>
  </div>
</div>