<nav class="navbar navbar-dark nav-bg fixed-top">
  <div class="container-fluid">
    <%= link_to back_path, class: "back-button" do%>
      <img src="https://img.icons8.com/ios-glyphs/24/ffffff/back.png"/>    
      <% end%>
    <a class="navbar-brand text-light text font-" href="#"><%= name %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">My Wallet</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"><%= link_to "HOME", categories_path, class: "navbar-item text-dark text-decoration-none fs-4" %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"><%= link_to "LOG OUT", destroy_user_session_path, class: "navbar-item text-dark text-decoration-none fs-4", method: "delete" %></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

