<div class="p-4 footer-bg fixed-bottom d-flex justify-content-center">
  <%= link_to button_path, class: "text-decoration-none" do%>
    <button type="button" class="button is-outlined footer-bg border btn-lg px-5 text-light"><%= name %></button>
  <% end %>
</div>
