// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.nav-bg {
  background-color: #3674bd;
}

.footer-bg {
  background-color: #5fb523;
}

.forgot-password {
  color: #878a8f;
}
